input[type="text"] {
    color: blue;
    background-color: red;
}

input[type="submit"] {
    margin-left: 40px;
    display: block;
    color: white;
    background-color: black;
    border-radius: 20px;

}